<div class="about d-flex justify-content-center align-items-center flex-column mt-5 pt-5">
    <div class="mt-5">
      <app-middle-lines [color]="selectedColor" [title]="aboutTitle"></app-middle-lines>
      <div class="d-flex justify-content-center align-items-center container about-content mt-3">
        <div class="text-white p-2">
          <p>
            Freelancer is a free bootstrap theme created by Route. The
            download includes the complete source files including HTML, CSS,
            and JavaScript as well as optional SASS stylesheets for easy
            customization.
          </p>
        </div>
        <div class="text-white p-2">
          <p>
            Freelancer is a free bootstrap theme created by Route. The
            download includes the complete source files including HTML, CSS,
            and JavaScript as well as optional SASS stylesheets for easy
            customization.
          </p>
        </div>
      </div>
    </div>
  </div>