<div class="portfolio d-flex justify-content-center flex-column pt-5">
  <app-middle-lines [color]="selectedColor" [title]="portolioTilte"></app-middle-lines>
  <div class="container p-3">
    <div class="row g-3">
      <div class="col-md-4 p-3">
        <div class="overflow-hidden position-relative rounded-3">
          <img src="assets/poert1.png" class="w-100 rounded-3" />
          <div class="layer">
            <i class="fa-solid fa-plus" style="color: #ffffff"></i>
          </div>
        </div>
      </div>
      <div class="col-md-4 p-3">
        <div class="overflow-hidden position-relative rounded-3">
          <img src="assets/port2.png" class="w-100 rounded-3" />
          <div class="layer">
            <i class="fa-solid fa-plus" style="color: #ffffff"></i>
          </div>
        </div>
      </div>
      <div class="col-md-4 p-3">
        <div class="overflow-hidden position-relative rounded-3">
          <img src="assets/port3.png" class="w-100 rounded-3" />
          <div class="layer">
            <i class="fa-solid fa-plus" style="color: #ffffff"></i>
          </div>
        </div>
      </div>
      <div class="col-md-4 p-3">
        <div class="overflow-hidden position-relative rounded-3">
          <img src="assets/poert1.png" class="w-100 rounded-3" />
          <div class="layer">
            <i class="fa-solid fa-plus" style="color: #ffffff"></i>
          </div>
        </div>
      </div>
      <div class="col-md-4 p-3">
        <div class="overflow-hidden position-relative rounded-3">
          <img src="assets/port2.png" class="w-100 rounded-3" />
          <div class="layer">
            <i class="fa-solid fa-plus" style="color: #ffffff"></i>
          </div>
        </div>
      </div>
      <div class="col-md-4 p-3">
        <div class="overflow-hidden position-relative rounded-3">
          <img src="assets/port3.png" class="w-100 rounded-3" />
          <div class="layer">
            <i class="fa-solid fa-plus" style="color: #ffffff"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>